body {
    font-family: initial;
    background-color: blue;
    margin-top: 84px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 200%;
}

.bold {
    font-weight: bold italic;
}

.img-medium {
    height: 200px;
}

